

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="menu navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes
            </a>
            <ul class="submenu border-0" aria-labelledby="shoes-link">
                <li><a href="#" class="dropdown-item">Sports</a>
                    <ul class="submenu-mini">
                        <li>
                            <a href="{% url 'products' %}?category=men_sports" class="dropdown-item">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=women_sports" class="dropdown-item">Women</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-item">Sandals</a>
                    <ul class="submenu-mini">
                        <li>
                            <a href="{% url 'products' %}?category=men_sandals" class="dropdown-item">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=women_sandals" class="dropdown-item">Women</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-item">Casual</a>
                    <ul class="submenu-mini">
                        <li>
                            <a href="{% url 'products' %}?category=casual_men" class="dropdown-item">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=casual_women" class="dropdown-item">Women</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-item">Elegant</a>
                    <ul class="submenu-mini">
                        <li>
                            <a href="{% url 'products' %}?category=elegant_men" class="dropdown-item">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=elegant_women" class="dropdown-item">Women</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}">
                        All Products
                    </a>
                </li>
                
            </ul>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <ul class="submenu">
                <li class="nav-item"><a href="#" class="dropdown-item">Watches</a>
                    <ul class="submenu-mini2">
                        <li>
                            <a href="{% url 'products' %}?category=men_watches" class="dropdown-item">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=women_watches" class="dropdown-item">Women</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-item">Wallets</a>
                    <ul class="submenu-mini2">
                        <li> 
                            <a href="{% url 'products' %}?category=men_wallets" class="dropdown-item">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}?category=women_wallets" class="dropdown-item">Women</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}">
                        All Products
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipments
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'products' %}?category=specials" class="dropdown-item">Specials</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}">
                        All Products
                    </a>
                </li>
            </ul>
            
        </li>
        <li class="nav-item" >
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">
                Contact Us
            </a>
            
        </li>
    </ul>
</div>